.app-container {
  width: 50%;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.common-form {
  /* border: 1px solid rgb(192, 186, 186); */
  border-top: 5px solid #0f9d38;
  border-bottom: 5px solid #db4410;
  border-right: 5px solid #f4b400;
  border-left: 5px solid #4285f4;
  padding: 30px;
  margin-bottom: 40px;
  border-radius: 10px;
}

.app-header {
  margin: 20px 20px 40px 20px;
  text-align: center;
}
.inputField {
  margin: 5px;
}
.searchBox {
  padding: 6px 10px 10px 10px;
}

.optionContainer li:hover,
.optionContainer .highlight {
  background: #4285f4;
}
.chips {
  background: red;
}

.submit {
  margin-bottom: 20px;
}
