.video{
    max-width: 50vw;
    max-height: 60vh;
}

.member_container{
    position:absolute;
    right:0;
}
.member_border{
    border-left: 0.5px solid black;
}

.team_member{
    min-width: 15rem;
}

.description_container{
    min-height:8rem;
}