.main {
    min-height: 93vh;
    display: flex;
    text-align: center;
    align-items: center;
    background-image: url("./images/banner.png");
    background-position: center;
    background-size: cover;
}
.dark {
    background: #202020;
    color: #fff;
}

