.labels {
    text-align: left;
}
.subscribe-form-wrap {
    border-radius: 10px;
    box-shadow: 0px 10px 34px -15px rgb(0 0 0 / 24%);
}
.dark .subscribe-form-wrap {
    background: #333;
    box-shadow: 0px 10px 34px -15px rgb(0 0 0 / 24%);
    border-radius: 10px;   
}