p.text {
    color: darkslategrey;
}

.members {
    display: inline-block;
}

.team {
    text-align: center;
    left: 0;
    right: 0;
    margin: auto;
}

img.member {
    border-radius: 50%;
    width: 100%;
    height: auto;
    max-width: 15rem;
    min-width: 5rem;
    padding-left: 15%;
    padding-right: 15%;
}

.dark p.text {
    color: #fff;
}